.Frame1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 80px;
    text-align: left;
    margin-top: 100px;
}

.Text {
    max-width: 40%;
    margin-right: 50px;
}

.Text > h1{
    font-size: 42px;
}

.Text > p {
    font-size: 20px;
    font-weight: 400;
    color:hsl(227, 12%, 61%);
}

.Image {
    max-width: 50%;
    margin: auto;
}

.Image > img {
    width: 100%;
    max-width: 600px;
    min-width: 300px;
    /* max-height: 500px; */
}

@media screen and (max-width: 850px) {
    .Frame1 {
        flex-direction: column-reverse;
    }

    .Image {
        max-width: 85%;
    }

    .Image > img {
        max-width: 100%;
    }

    .Text {
        max-width: 85%;
        text-align: center;
         margin: auto;
    }
}

@media screen and (max-width: 500px) {
    .Frame1 {
        padding: 20px 30px;
    }
}


@media screen and (max-width: 420px) {
    .Frame1 {
        padding: 20px 0;
    }

    .Image {
        max-width: 95%;
    }

    .Text {
        max-width: 95%;
    }
}
