.Header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 25px 90px;
    box-sizing: border-box;
    z-index: 11;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0px 0px 15px rgb(0 0 0 / 20%);
}

.openModal {
    display: none;
}

.links {
    display: flex;
}

.links > span {
    padding: 0 10px;
    font-size: 16px;
    transition: color .25s ease-in;
}

.links > span:hover {
    cursor: pointer;
    color: hsl(227, 12%, 61%);
}

@media screen and (max-width: 850px) {
     .bttn {
        display: none;
    }
    .links {
        display: none;
    }

    .openModal {
        display: contents;
    }
}

